.cardWrapper {
  border: 2px solid purple;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: floralwhite;
}
.buttonCard {
  display: block;
  margin: auto;
}
