.cardWrapper {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  width: 150px;
  text-align: center;
}
.card {
  &__name {
    text-transform: uppercase;
    font-weight: 500 !important;
    text-align: center;
  }
  &__image {
    height: 110px;
  }
  &__buttonCart {
    padding-bottom: 10px !important;
    color: darkviolet !important;
  }
  &__buttonInfo {
  }
}
