.cardWrapper {
  display: inline-block;
  margin: 5px 6px;
  padding: 5px;
  width: 150px;
  text-align: center;
  box-shadow: 4px 4px 4px #bdbcbc;
}
.cardWrapper:hover {
  box-shadow: 4px 4px 4px purple;
  transition: ease 0.5s;
}
.card {
  &__name {
    text-transform: uppercase;
    font-weight: 500 !important;
    text-align: center;
  }
  &__image {
    height: 110px;
  }
  &__buttonCart {
    padding-bottom: 10px !important;
    color: darkviolet !important;
  }
  &__buttonInfo {
  }
}
