.wrapper {
  padding: 90px 20px 20px;
}
.messageWrapper {
  margin-top: 100px;
  text-align: center;
}
.messageTitle {
  color: purple;
}

.formWrapper {
  text-align: center;
}

.header {
  color: purple;
  padding: 5px;
}

.boxWrapper {
  margin: 10px 0;
}
.formselect {
  color: red;
  min-width: 300px;
}
.textFieldWrapper {
  margin: 0 10px 10px 0;
}
