.header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(left, DarkViolet, MediumVioletRed);
  text-align: center;
  z-index: 5;

  &__link {
    text-decoration: none;
    margin-right: 25px;
  }

  &__button {
    color: white !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    padding: 5px !important;
    margin: 5px !important;
  }
  &__button:hover {
    background-color: DarkViolet !important;
    transition: ease 0.5s;
  }
  &__cart {
    margin: 0 20px;
  }
  &__btnLogout {
    color: white !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    padding: 5px !important;
    margin: 5px !important;
    margin-left: 50px !important;
  }
  &__btnLogout:hover {
    background-color: DarkViolet !important;
    transition: ease 0.5s;
  }
}
.menuMobile {
  display: none;
}
@media (max-width: 970px) {
  .header__btnLogout {
    margin: 0 !important;
  }
}
@media (max-width: 599px) {
  .header {
    top: 0;
  }
  .header__btnLogout {
    margin: 0 30px;
  }
  .menu {
    display: none;
  }
  .menuMobile {
    display: flex;
    justify-content: space-around;
  }
  .linkMobile {
    text-decoration: none;
  }
  .header__button {
    background-color: rgb(48, 152, 250) !important;
  }
  .iconMenu {
    color: #fff !important;
  }
}
